<table border="1" cellpadding="10" style="width:100%; background:white;">
    <tr>
        <th>ID Pedido</th>
        <th>Cliente</th>
        <th>Productos</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Acción</th>
    </tr>
    {% for p, productos in pedidos %}
    <tr>
        <td>{{ p.renta.id }}</td>
        <td>{{ p.renta.cliente.nombre }}</td>
        <td>
            <ul>
            {% for rp in productos %}
                <li>{{ rp.producto.nombre }} x{{ rp.cantidad }} - ${{ rp.subtotal }}</li>
            {% endfor %}
            </ul>
        </td>
        <td>${{ p.total }}</td>
        <td>
            {% if p.pagado %}
                <span style="color:green; font-weight:bold;">Pagado</span>
            {% else %}
                <span style="color:red; font-weight:bold;">Pendiente</span>
            {% endif %}
        </td>
        <td>
            {% if p.pagado %}
                <a href="{% url 'cont_pendiente' p.id %}">Marcar Pendiente</a>
            {% else %}
                <a href="{% url 'cont_pagar' p.id %}">Marcar Pagado</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>